// Formatação da página
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Formatações gerais
html {
  scroll-behavior: smooth;
}

body {
  padding: 0 0.5rem;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(95deg, #fdf4c1, #f3f0df);
  span {
    color: $red_color;
  }
}

// Formatação do cabeçalho
#header_container {
  width: 100%;
  padding: 1.25rem;
  border: 1px solid $black_color;
  border-width: 0 1px 1px 1px;

  .header_img {
    display: block;
    max-width: 140px;
    margin: 0.3rem auto;
  }

  .nav_header {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: 1fr 1fr;

    .btn_nav {
      padding: 0.7rem;
      color: $black_color;
      font-size: 1.25rem;
      font-weight: 300;
      text-decoration: none;
      &:nth-child(2n-1) {
        text-align: right;
      }
    }
  }

  .call_btn {
    margin: 0.5rem auto;
    display: block;
    max-width: 11rem;
    padding: 0.7rem;
    color: $black_color;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 2px solid $black_color;
    background-color: $red_color;
    box-shadow: 3px 3px 0 $black_color;
  }
}

// Parte principal
#main_section {
  padding: 1.25rem;
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  padding-right: 0;
  padding-bottom: 14rem;

  .main_section_img {
    display: block;
    margin: 1rem 0.2rem 0 auto;
    max-width: 100%;
    filter: drop-shadow(3px 1px 1px $black_color);
  }

  h1 {
    color: $black_color;
    font-size: 3rem;
    span {
      position: relative;
      &::after {
        content: "";
        background-image: url("../image/dash.png");
        position: absolute;
        height: 40px;
        width: 40px;
        right: -1rem;
      }
    }
  }
  p {
    margin: 0.7rem 0;
    padding-right: 1.25rem;
    font-size: 1.25rem;
  }

  .call_btn {
    margin: 2.4rem 2rem;
    display: block;
    max-width: 11rem;
    padding: 0.7rem;
    color: $black_color;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 1px solid $black_color;
    background-color: $red_color;
    box-shadow: 3px 3px 0 $black_color;
    position: relative;
    &::after {
      content: "";
      cursor: auto;
      background-image: url("../image/up_arrow.png");
      background-repeat: no-repeat;
      position: absolute;
      height: 200px;
      width: 200px;
      top: 2rem;
      right: -8rem;
    }
  }
}

// Galeria de cards
#article_section {
  padding: 1.25rem;
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  padding-bottom: 8rem;

  .cards_container {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    align-items: start;
    margin-top: -4rem;
    .card {
      // Cards
      height: 350px;
      padding: 1rem 0 0 1rem;
      font-size: 1rem;
      max-width: 15.5rem;
      border: 2px solid $black_color;
      background-color: $red_color;
      box-shadow: 2px 4px 0px $black_color;
      &:nth-child(2n) {
        align-self: self-end;
        background-color: $yellow_color;
      }
      h3 {
        cursor: default;
        display: block;
        font-size: 1.3rem;
        margin: 0.7rem 0;
      }
      p {
        cursor: default;
        padding-bottom: 0.5rem;
      }
      .card_arrow_space {
        padding-top: 2rem;
      }
      a {
        width: fit-content;
        display: block;
        margin: 3rem 1rem 0.2rem auto;
      }
    }
    .article_footer {
      // Rodapé da sessão
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        display: block;
        font-size: 1.9rem;
        margin: 1.7rem 0;
      }
      .call_btn {
        margin: 0.3rem 2rem;
        display: block;
        max-width: 11rem;
        padding: 0.9rem;
        color: $black_color;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border: 1px solid $black_color;
        background-color: $red_color;
        box-shadow: 3px 3px 0 $black_color;
      }
    }
  }
}

// Formatação do rodapé
#footer_container {
  width: 100%;
  padding: 1.25rem;
  border: 1px solid black;
  border-width: 0 1px 1px 1px;

  .footer_img {
    width: 90px;
    margin: 0.3rem;
  }

  p {
    font-size: 0.9rem;
    margin: 0 0 1rem 0;
  }

  .nav_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .btn {
      width: 12rem;
      padding: 1.2rem;
      color: $black_color;
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration: none;
    }
  }

  form {
    max-width: 300px;
    label {
      color: $black_color;
      font-size: 15px;
      font-weight: 700;
    }
    #email {
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      border: 2px solid $black_color;
      background-color: $cream_color;
      box-shadow: 2px 4px 0px $black_color;
    }
    .call_btn {
      margin: 0.7rem 0;
      display: block;
      max-width: 11rem;
      padding: 0.7rem;
      color: $black_color;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      border: 2px solid $black_color;
      background-color: $red_color;
      box-shadow: 3px 3px 0 $black_color;
    }
  }
}

// Responsividade
@media (min-width: 640px) {
  #header_container {
    .nav_header {
      display: block;
      text-align: center;
      margin: 1rem;
      .btn {
        padding: 2rem;
      }
    }
  }

  #article_section {
    .cards_container {
      flex-direction: row;
      flex-wrap: wrap;
      .card:nth-child(2n) {
        margin-top: 2rem;
      }
    }
  }
  .article_footer {
    margin-top: 2rem;
  }
}

@media (min-width: 820px) {
  #header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav_header {
      display: flex;
      .btn {
        padding: 10px;
      }
    }
  }

  #main_section {
    display: flex;
    flex-direction: row-reverse;
    .main_section_img {
      width: 400px;
    }
    .call_btn {
      margin: 20px 40px;
    }
  }
}

@media (min-width: 1000px) {
  #header_container {
    .nav_header {
      display: flex;
      justify-content: space-between;
      .btn {
        letter-spacing: 2px;
        padding: 10px;
        margin-bottom: 1rem;
        font-size: 25px;
        font-weight: 400;
        border: 2px solid transparent;
        transition: 0.5s;
        &:hover {
          border-bottom: 2px solid $red_color;
        }
      }
    }
    .call_btn {
      transition: 0.5s;
      &:hover {
        background-color: $yellow_color;
      }
    }
  }

  #main_section {
    .main_section_img {
      padding-right: 10px;
    }
    .call_btn {
      transition: 0.5s;
      &:hover {
        background-color: $yellow_color;
      }
    }
  }

  #article_section {
    .card {
      transition: 0.4s;
      &:hover {
        margin-top: 1rem;
      }
    }
    .card:nth-child(2n) {
      transition: 0.4s;
      &:hover {
        margin-bottom: -1rem;
      }
    }

    .article_footer {
      .call_btn {
        transition: 0.5s;
        &:hover {
          background-color: $yellow_color;
        }
      }
    }
  }

  #footer_container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    p {
      width: 500px;
    }
    .nav_header {
      margin: 1rem;
      .btn {
        text-align: center;
        letter-spacing: 4px;
        padding: 5px;
        margin-bottom: 0.5rem;
        font-size: 18px;
        font-weight: 400;
        border: 2px solid transparent;
        transition: 0.5s;
        &:hover {
          border-bottom: 2px solid $red_color;
        }
      }
    }

    form {
      margin: 1rem;
    }

    .call_btn {
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: $yellow_color;
      }
    }
  }
}
